
<ion-header>
        <ion-navbar color="danger">
          <ion-title>
             Quiz Question
          </ion-title>
        </ion-navbar>
      </ion-header>
<ion-content padding [@itemInOut]="watchMe" (@itemInOut.done)="logAnimation($event)">
   
    <ion-card   >
        
        <ion-grid>
            <ion-row>
             
              <ion-col class="timer_col">
                  <span>Time Left: <span style="color:blueviolet" [ngClass]="count < 6  ? 'blink_me' : ''"> {{count}}</span> </span>
                 
              </ion-col>
             
            </ion-row>
           
          </ion-grid>
        
         
        
        </ion-card>

  <ion-card 
  [ngClass]="userAnswerType =='correctAnswer' ? 'correctAnswer' : userAnswerType =='wrongAnswer' ? 'wrongAnswer' : 'waitingAnswer'">
      <ion-grid>
          <ion-row style="font-size: larger;font-weight: bold;">
           
            <ion-col col-8>
                Question:{{questionIndex}}
            </ion-col>
            <ion-col col-4 style="text-align: right;">
                {{questionTitle}}
            </ion-col>
          </ion-row>
         
        </ion-grid>
    
      <ion-card-content>
            <div class="question_div" *ngIf="questionType != 'mission_backword' &&  questionType != 'mission_forword'">
                    
                    {{firstNo}} {{operator}} {{secondNo}} = <span style="color:blue">{{answer}}</span>
                    
            </div>
            
            <div class="question_div" *ngIf=" questionType == 'mission_forword'" s>
                    
                    {{firstNo}} <span style="color:blue">{{answer}}</span> {{secondNo}} {{secondNo + 1}} {{secondNo + 2}}
                    
            </div>

            <div class="question_div" *ngIf="questionType == 'mission_backword' ">
                    
                    {{firstNo + 1}}     {{firstNo }}  <span style="color:blue">{{answer}}</span>  {{secondNo}} {{secondNo - 1}}  
                    
            </div>
      <!--  <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
      -->
      </ion-card-content>
    
     
    
    </ion-card>

    <ion-card >
       
       
        <ion-grid>
            <ion-row style="margin-left:20px">
              <ion-col col-12>
                  
                <div 
                  (mousedown)="tapEvent(this, 1,$event)"  (mouseup)="tapEvent(this, 1, $event)">
                      <img [src]="imgSrc" class="number" >
                </div>  
                 
                <div 
                (mousedown)="tapEvent(this, 2,$event)"  (mouseup)="tapEvent(this, 2, $event)">
                    <img src="assets/imgs/2.png" class="number" >
              </div> 
              <div 
              (mousedown)="tapEvent(this, 3,$event)"  (mouseup)="tapEvent(this, 3, $event)">
                  <img src="assets/imgs/3.png" class="number" >
            </div> 
              </ion-col>
              
              
            </ion-row>
            <ion-row style="margin-left:20px">

            <ion-col col-12>
                <div 
                    (mousedown)="tapEvent(this, 4,$event)"  (mouseup)="tapEvent(this, 4, $event)">
                        <img src="assets/imgs/4.png" class="number" >
                </div>  
                    
                <div 
                (mousedown)="tapEvent(this, 5,$event)"  (mouseup)="tapEvent(this, 5, $event)">
                    <img src="assets/imgs/5.png" class="number" >
                </div> 
                <div 
                (mousedown)="tapEvent(this, 6,$event)"  (mouseup)="tapEvent(this, 6, $event)">
                    <img src="assets/imgs/6.png" class="number" >
                </div> 
            </ion-col>
            </ion-row>
            <ion-row style="margin-left:20px">
            <ion-col col-12>
                <div 
                    (mousedown)="tapEvent(this, 7,$event)"  (mouseup)="tapEvent(this, 7, $event)">
                        <img src="assets/imgs/7.png" class="number" >
                </div>  
                    
                <div 
                (mousedown)="tapEvent(this, 8,$event)"  (mouseup)="tapEvent(this, 8, $event)">
                    <img src="assets/imgs/8.png" class="number" >
                </div> 
                <div 
                (mousedown)="tapEvent(this, 9,$event)"  (mouseup)="tapEvent(this, 9, $event)">
                    <img src="assets/imgs/9.png" class="number" >
                </div> 
            </ion-col>
            </ion-row>
            <ion-row style="margin-left:100px">
            <ion-col >
                    
                    <div 
                        (mousedown)="tapEvent(this, 0,$event)"  (mouseup)="tapEvent(this, 0, $event)">
                            <img src="assets/imgs/0.png" class="number" >
                    </div>  
                        
                    <div 
                    (mousedown)="tapEvent(this, -1,$event)"  (mouseup)="tapEvent(this, -1, $event)">
                        <img src="assets/imgs/del.png" class="number" >
                </div>   
                </ion-col>

               
              </ion-row>
              
            
           
          </ion-grid>
        
        </ion-card>
    
</ion-content>
