page-detail-result {

    .correct_answer{
        background-color: green;
        color: white;
        font-size: large;
        font-weight: bold;
    }

    .wrong_answer{
        background-color: red;
        color: white;
        font-size: large;
        font-weight: bold;
    }
}
